<div align="center">
    <h2>Enter Username or Email Id</h2>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" >
      <div>
        <p><input type="text"  formControlName="username" placeholder="Username" size="40" maxlength="45" required /></p>
      </div>
      <div>OR</div>
      <div>
          <p><input type="text"  formControlName="email" placeholder="Email Id" size="40" maxlength="45"  required/></p>
      </div>
      <div>
          <p><input type="password"  formControlName="password" placeholder="Password" size="40" maxlength="45" required/></p>
      </div>
      <div>
          <button type="submit" value="Login" style="width:300px;">Login</button>
      </div>
    </form>
  </div>
  