<div align="center">
    <h2> Course List</h2>
    <p>
        <button (click)= "downloadPDF()">Download PDF</button>
      </p>
     <table style="width:400px">
       <tr>
         <th>Course ID</th>
         <th>Name</th>
         <th>Description</th>
         <th>Price (AED)</th>
       </tr>
  
        <tr *ngFor="let course of courselist">
            <td>{{course.courseId}}</td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.price}}</td>
        </tr>

     </table>

  </div>