<div align="center">
    <h2>Enter the Student details</h2>
    <form method="POST" #myform="ngForm" (ngSubmit)="registerStd(myform)">
        <div>
            <p>
              <label for="roles">Role</label>
              <select  id="role" required>
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
              </select>
            </p>
          </div>
      <div>
        <p><input type="text" placeholder="Name" name="name" size="40" maxlength="45" /></p>
      </div>
      <div>
          <p><input type="text" placeholder="Username" name="username" size="40" maxlength="45" /></p>
      </div>
      <div>
          <p><input type="text" placeholder="Email" name="email" size="40" maxlength="45" /></p>
      </div>
      <div>
          <p><input type="password" placeholder="Password" name="password" size="40" maxlength="45" /></p>
      </div>
      <div>
          <p><input type="password" placeholder="Confirm Password" name="confpassword" size="40" maxlength="45" /></p>
      </div>
      <div>
          <input type="submit" value="Create Student" style="width:300px;"/>
      </div>
    </form>
  </div>